//HOME PAGE
#home-hero
    height: 100vh
    display: flex
    align-items: center
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0, 0, 0, 0.6)), url('../../immagini/losengo.jpg')
    background-size: cover
    background-position: center

    .hero
        h1
            color: $light
            font-size: 74px

            @include lg
                font-size: 44px

        span
            font-size: 22px
            font-style: italic
            color: $orange
            display: block
            padding: 10px 0 20px 0
        p 
            color: $light
